@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photographer_section article h2 {
  color: #d3573c;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 0 0 0;
}
.photographer_section article h3 {
  margin: 0;
  color: #901c1c;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.photographer_section article .quote-tagline {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.photographer_section article .price-per-day {
  color: #757575;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.photographer_section article .img-zoom {
  border-radius: 200px;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  transform: scale(1.1);
}
